# Lab 12: Data Analysis. Part 2
## bike-stats dataset (including station,weather,trip datasets)
## Date : 31/8/2020
## Osama Yousef

In [2]:
## adding necessary lines
import pandas as pd
import numpy as np
import datetime as dt

## What is the average trip duration for a borrowed bicycle?

### avg trip duration in seconds

In [15]:
station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv', error_bad_lines=False)
weather = pd.read_csv('weather.csv')
sol=trip['tripduration'].mean()
sol

b'Skipping line 50794: expected 12 fields, saw 20\n'

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [16]:

trip = pd.read_csv('trip.csv', error_bad_lines=False)
ages = dt.datetime.now().year - trip['birthyear'].value_counts().idxmax()
ages

b'Skipping line 50794: expected 12 fields, saw 20\n'

33.0

## other solution

In [50]:
year = trip[['birthyear']].mode()
2020 - year

   birthyear
0       33.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [11]:
avg_precipitation=weather.groupby('Month')['Precipitation_In']
avg_precipitation.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [12]:
avg_precipitation.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

# What’s the average number of bikes at a given bike station?

In [13]:


dock_count=station[station['decommission_date'].notnull()]
all=station[station['decommission_date'].isnull()]
avg_bike_num=all.mean()
avg_bike_num=avg_bike_num.current_dockcount
avg_bike_num

17.74074074074074

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [17]:


stat=station[['modification_date','install_dockcount','current_dockcount']].dropna()
solution=stat['current_dockcount'].sum()-stat['install_dockcount'].sum()
solution

-64

## 3 Questions from us

## What is the most common starting station?

In [28]:

stations = trip.from_station_name.groupby(trip.from_station_name)
highest_station = stations.count().nlargest(1)
highest_station

from_station_name
Pier 69 / Alaskan Way & Clay St    13054
Name: from_station_name, dtype: int64

## Which station has the most bikes?

In [55]:

station_bikes = station.sort_values(by='current_dockcount', ascending=False).head(1)
station_bikes

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN

 ## What were the 5 longest trips?

In [32]:
longest_trips = trip.sort_values(by='tripduration', ascending=False).head(5)
longest_trips

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN
231806,197134,4/8/2016 14:25,4/8/2016 22:24,SEA00085,28779.864,3rd Ave & Broad St,15th Ave E & E Thomas St,BT-01,CH-05,Short-Term Pass Holder,NaN,NaN
154789,115593,7/24/2015 17:22,7/25/2015 1:21,SEA00098,28727.481,E Harrison St & Broadway Ave E,E Harrison St & Broadway Ave E,CH-02,CH-02,Short-Term Pass Holder,NaN,NaN
63052,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN
12260,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN

## Doing some tests

In [21]:



def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(sol , 1178.2956753399776 )
    assert_equal(ages, 33.0)
    assert_equal(avg_bike_num, 17.74074074074074)
    assert_equal(solution, -64 )


    print("Success!!!")

test()

Success!!!