# Lab 12: Data Analysis. Part 2
## bike-stats dataset (including station,weather,trip datasets)
## Date : 31/8/2020
## Osama Yousef

In [2]:
## adding necessary lines
import pandas as pd
import numpy as np
import datetime as dt

## What is the average trip duration for a borrowed bicycle?

### avg trip duration in seconds

In [7]:
station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv', error_bad_lines=False)
weather = pd.read_csv('weather.csv')
trip['tripduration'].mean()

b'Skipping line 50794: expected 12 fields, saw 20\n'

1178.2956753399776

### avg trip duration in minutes

In [8]:
 station = pd.read_csv('station.csv')
 trip = pd.read_csv('trip.csv', error_bad_lines=False)
 weather = pd.read_csv('weather.csv')
 avg_duration = trip.tripduration.mean() // 60
 avg_duration

b'Skipping line 50794: expected 12 fields, saw 20\n'

19.0

## What’s the most common age of a bicycle-sharer?

In [2]:

trip = pd.read_csv('trip.csv', error_bad_lines=False)
ages = dt.datetime.now().year - trip['birthyear'].value_counts().idxmax()
print(f'The most common age is {ages} years old')

b'Skipping line 50794: expected 12 fields, saw 20\n'
The most common age is 33.0 years old

## other solution

In [50]:
year = trip[['birthyear']].mode()
2020 - year

   birthyear
0       33.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [52]:

average_precip = weather.Precipitation_In.mean()
print(f'Average precipitation is about {round(average_precip, 2)} inches')
## assuming the values are in months
median_precip = weather.Precipitation_In.median()
print(f'Median precipitation is {median_precip} inches')

Average precipitation is about 0.11 inches
Median precipitation is 0.0 inches

### in the above we got 0.11 inches which is the daily average 
### assuming that each month is 30 days
### So average monthly is 30 * 0.11 = 3.3 inches per month

# What’s the average number of bikes at a given bike station?

In [53]:

average_bikes = station.current_dockcount.mean()
print(f'The average number of bikes at a given station is about {round(average_bikes)}')

The average number of bikes at a given station is about 17

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [54]:

modified_stations = station[station.modification_date.notnull()]
modified_stations_less_bikes = modified_stations[station.install_dockcount >= station.current_dockcount]
modified_stations_less_bikes_count = modified_stations_less_bikes.count().station_id
modified_stations_count = modified_stations.count().station_id
print(f'{modified_stations_count} of stations were modified')
print(f'{modified_stations_less_bikes_count} of modified stations had less bikes after being modified')

17 of stations were modified
10 of modified stations had less bikes after being modified

<ipython-input-54-8c492585fcbc>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  modified_stations_less_bikes = modified_stations[station.install_dockcount >= station.current_dockcount]

#### other solution
### calculating the avg of decreasing in bikes after modification

In [42]:
temp_old = station.sort_values('modification_date',  ascending= False)['current_dockcount'].tail(42)
temp_new = station.sort_values('modification_date',  ascending= False)['current_dockcount'].head(15)
new = temp_new.mean()
old = temp_old.mean()
new - old

-1.6380952380952376

## 3 Questions from us

## What is the most common starting station?

In [28]:

stations = trip.from_station_name.groupby(trip.from_station_name)
highest_station = stations.count().nlargest(1)
highest_station

from_station_name
Pier 69 / Alaskan Way & Clay St    13054
Name: from_station_name, dtype: int64

## Which station has the most bikes?

In [55]:

station_bikes = station.sort_values(by='current_dockcount', ascending=False).head(1)
station_bikes

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
17,CH-08,Cal Anderson Park / 11th Ave & Pine St,47.615486,-122.318245,10/13/2014,28,2/24/2015,26,NaN

 ## What were the 5 longest trips?

In [32]:
longest_trips = trip.sort_values(by='tripduration', ascending=False).head(5)
longest_trips

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN
231806,197134,4/8/2016 14:25,4/8/2016 22:24,SEA00085,28779.864,3rd Ave & Broad St,15th Ave E & E Thomas St,BT-01,CH-05,Short-Term Pass Holder,NaN,NaN
154789,115593,7/24/2015 17:22,7/25/2015 1:21,SEA00098,28727.481,E Harrison St & Broadway Ave E,E Harrison St & Broadway Ave E,CH-02,CH-02,Short-Term Pass Holder,NaN,NaN
63052,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN
12260,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN